<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SS} [%thread] %-5level %logger{36} - %msg%n" />
    <property name="LOG_LEVEL" value="${log.level:INFO}" />
    <property name="APP_NAME" value="fatin2" />
    <property name="LOG_PATH" value="logs/" />
    <!-- Console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- latest.log -->
    <appender name="LATEST" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/latest.log</file>
        <append>false</append>
        <encoder>
            <pattern>${LOG_LEVEL}</pattern>
        </encoder>
    </appender>
    <!-- saved logs -->
    <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/latest.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${APP_NAME}-%d{yyyy-MM-dd}-%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxIndex>999</maxIndex>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
<!--    <logger name="org.java_websocket" level="WARN" />-->
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LATEST"/>
        <appender-ref ref="ROLLING"/>
    </root>
</configuration>